<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://kit.fontawesome.com/227685d263.js" crossorigin="anonymous"></script>
</head>

    <body style="font-family: OPEN SANS;">
        <nav>
            <div class="container-fluid mt-2">
                <div class="row">
                    <div class="mt-1 col-sm nav-item text-start">
                      <a style="color:black" class="nav-link font-weight-normal" href="#"><i class="fa-solid fa-bars fa-lg"></i></a>
                    </div>
        
                    <div class="mt-1 col-sm nav justify-content-center">
                      <li class="nav-item text-center">
                          <a style="color:black" class="nav-link font-weight-normal" href="/djangoapp/">Home</a>
                        </li>
                        <li class="nav-item text-center">
                          <a style="color:black" class="nav-link font-weight-normal" href="/djangoapp/about/">About</a>
                        </li>
                        <li class="nav-item text-center">
                          <a style="color:black" class="nav-link font-weight-bold" href="/djangoapp/contact/">Contact</a>
                        </li>
                    </div>
        
                    <div class="mt-1 col-sm nav justify-content-end">
                        <li class="nav-item text-center">
                          <a style="color:black" class="nav-link font-weight-normal" href="#"><i class="fa-solid fa-circle-user"></i> Matias Alfaro </a>
                        </li>
                        <li class="mt-1 nav-item text-center">
                          <button type="button" class="btn btn-light btn-sm">Log Out <i class="ms-1 fa-solid fa-arrow-right-from-bracket"></i></button>
                        </li>
                    </div>
                    
                  </div>
                  
            </div>
            
        </nav >
        <div class="container-fluid"><hr>
            <div class="row">
                <div class="col-4">            <img height="500px" src="https://img.freepik.com/free-vector/call-center-concept-illustration_114360-3430.jpg?w=740&t=st=1680899121~exp=1680899721~hmac=3129d2a3563bfabd5d9eb21fb317eaa27e89df002356280fbc0cedd17d325622" alt="">
                </div>
                <div class="col"><div style="background:white;" class="jumbotron">
                    <p class="lead">If you have any questions or would like to learn more about our cars, please don't hesitate to get in touch with us. Our team of experts is available to assist you with all your needs, from finding the perfect car to financing options and after-sales service. </p>
                    <li>Sales Department: (555) 123-4567</li>
                    <li>Service Department: (555) 234-5678</li>
                    <li>Finance Department: (555) 345-6789</li>
                    <li>General Inquiries: (555) 456-7890</li>
                </div></div>
            </div>
        
        
        
        </div>
    
  

    </body>

</html>
